.App {
  width: 100vw;
  height: 100vh;
}

.input-manipulations {
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;
}

input {
    background-color: gray;
}